.leadsTable__leadInfo {
gap: 2rem;
    &__name {
        text-transform: capitalize;
    }
}

.leadsTable * {
        border: 1px solid;

        & a {
            border: none;
            color: inherit;
        }
}

.leadsTable__leadInfo *, .leadsTable__headers * {
    padding: 1ch;
}

.filter {
    display: flex;
    width: max-content;
}